<li>
    <p>
        <% if((locals.user)&& (locals.user.id==comment.user.id)){%>
            <small>
                <a href="/comments/destroy/<%=comment.id%>">Delete</a>
            </small>
            <% }%>
        
    <li><%= comment.content %></li><br>
    <small><%= comment.user.name %></small>
         </p>
        </li>