<link rel="stylesheet" type="text/css" href="/css/home.css">
<div id="home-container">
  <section id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea  name="content" rows="3" cols="30" placeholder="type-Here..." required></textarea>
            <input type="submit" value="post">
        </form>
   <% }%>
    
    <div id="posts-list-conatainer">
        <ul>
            <% for(post of posts){%>
              <%-include('_post')-%>
                <% } %>
        </ul>
    </div>
</section>

<section id="user-friends">
    <h4>Friends</h4>
    <% for(u of all_users){%>
      <p>
        <a href="/users/profile/<%= u.id %>">
          <%= u.name %>
        </a>
      </p>
    <% } %>
</section>
</div>
    



